on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v3

      - name: Set up Cog
        uses: replicate/setup-cog@v2

      - name: Push model to Replicate
        run: cog push alnoman69/datamodell_ai
        env:
          REPLICATE_API_TOKEN: ${{ secrets.REPLICATE_API_TOKEN }}


